[Unit]
Description=MQTT System Tray Icon

[Service]
Type=simple
ExecStart=~/src/mqttstray/mqttstray
Restart=always

[Install]
WantedBy=default.target
